.ul {
  list-style: none;
  padding: 0;
}

button {
  flex-direction: column;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}

.input {
  margin-left: 0rem;
  background-color: #ded9de;
  border-radius: 4px;
  border: 1px solid white;
  width: 80%;
  text-align: left;
  padding: 0.25rem;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}