input {
  margin-left: 0.5rem;
  background-color: #ded9de;
  border-radius: 4px;
  border: 1px solid white;
  width: 15%;
  text-align: left;
  padding: 0.25rem;
}

button {
  margin-left: 0.5rem;
  flex-direction: column;
}

li {
  /* list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}
