.header {
  width: 100%;
  height: 5rem;
  background-color: #808080;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px 0% 10px 0%;
}

.header h2 {
  align-items: center;
  text-align: center;
}
