<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="template.xhtml"
             xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset legend="Objetos">
            <p:toolbar>
                <p:toolbarGroup>
                    <p:commandButton value="Novo" action="#{carroBean.novo()}" update="@form"></p:commandButton>                
                    <p:commandButton value="Salvar" action="#{carroBean.salvar()}" disabled="#{carroBean.busca == true}" update="@form"></p:commandButton>                
                    <p:commandButton value="Buscar" action="#{carroBean.buscar()}" update="@form"></p:commandButton>                
                </p:toolbarGroup>
            </p:toolbar>
            <p:panelGrid columns="2" rendered="#{carroBean.busca == false}">
                <h:outputLabel value="Modelo"></h:outputLabel>
                <p:inputText value="#{carroBean.entidade.modelo}"></p:inputText>

                <h:outputLabel value="Fabricante"></h:outputLabel>
                <p:inputText value="#{carroBean.entidade.fabricante}"></p:inputText>

                <h:outputLabel value="Cor"></h:outputLabel>
                <p:inputText value="#{carroBean.entidade.cor}"></p:inputText>

                <h:outputLabel value="Ano">
                </h:outputLabel>
                <p:calendar value="#{carroBean.entidade.ano}"></p:calendar>
            </p:panelGrid>
            <p:dataTable value="#{carroBean.entidades}" var="carro" rendered="#{carroBean.busca == true}">
                <p:column>
                    <p:commandButton value="Editar" action="#{carroBean.editar(carro)}" update="@form"></p:commandButton>
                    <p:commandButton value="Apagar" action="#{carroBean.apagar(carro)}" update="@form"></p:commandButton>
                </p:column>
                <p:column headerText="Modelo" sortBy="#{carro.modelo}">
                    <h:outputText value="#{carro.modelo}"></h:outputText>
                </p:column>
                <p:column headerText="Fabricante">
                    <h:outputText value="#{carro.fabricante}"></h:outputText>
                </p:column>
                <p:column headerText="Cor">
                    <h:outputText value="#{carro.cor}"></h:outputText>
                </p:column>
                <p:column headerText="Ano">
                    <h:outputText value="#{carro.ano}">
                        <f:convertDateTime pattern="yyyy-MM-dd"></f:convertDateTime>
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </h:form>
</ui:decorate>

