<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Sistema de gerenciamento de carros</title>
    </h:head>
    <h:body>
        <h1>Sistema de gerenciamento de Carros e Usuários</h1>
        <h:form>
            <p:menubar>
                <p:menuitem value="home" url="index.jsf"></p:menuitem>
                <p:menuitem value="Gerenciar Carros" url="gerenciar-carro.jsf"></p:menuitem>
                <p:menuitem value="Gerenciar Usuarios" url="gerenciar-usuario.jsf"></p:menuitem>
            </p:menubar>
        </h:form>
        <hr/>
        <ui:insert></ui:insert>
    </h:body>
</html>

